https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto
pymongo
motor
marshmallow
umongo
requests
imdbpy
bs4
# for interacting with te.legra.ph
telegraph==1.4.1
youtube-dl
googletrans
aiohttp
requests
ffmpeg-python
wheel
psutil
tgintegration
gTTS
pyshorteners
aiofiles
wget
pyromod
tswift
datetime

